	@font-face
	{
	  font-family: "Josefin Sans";
	  src: url(css/fonts/ »
	  JosefinSans-Light.ttf) format("truetype");
	}
	body
	{
		background: -webkit-linear-gradient(to bottom, #FF9A89, #FF8C87); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(to bottom, #FF9A89, #FF8C87); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(to bottom, #FF9A89, #FF8C87); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to bottom, #FF9A89, #FF8C87); /* Standard syntax */
		color:white;
		font-weight:100 !important;
		font-family:Josefin Sans;
	}
	
	.head_txt
	{
		margin-top:5%;
	}
	.head_img
	{
		margin-top:5%;
	}
	.content
	{
		margin-top:8%;
	}
	.txtbox
	{
		background:transparent;
		border-radius:0px;
		border:none;
		border-bottom:1px solid white;
		color:white;
		box-shadow:none !important;
		outline: none;
		font-size:20px;
	}
	.txtbox:hover, .txtbox:active, .txtbox:focus
	{
		border:none;
		border-bottom:1px solid white;
		box-shadow:none !important;
		outline: none;
	}
	.btn, .btn:hover, .btn:active, .btn:focus
	{
		background:white;
		border-radius:0px;
		border:none;
		color:#FF8C87;
		outline: none;
		font-size:32px;
		height:50px;
		margin-top:5%;
		margin-bottom:5%;
		//box-shadow:0px 5px 16px #474141 !important;
	}
	.btn-half, .btn-half:hover, .btn-half:active, .btn-half:focus
	{
		background:white;
		border-radius:0px;
		border:none;
		color:#FF8C87;
		outline: none;
		font-size:32px;
		height:50px;
		margin-top:5%;
		margin-bottom:5%;
		//box-shadow:0px 5px 16px #474141 !important;
		text-decoration:none;
	}
	.btn-half-left
	{
		float:left;
		text-align:center;
	}
	.btn-half-right
	{
		float:right;
		text-align:center;
	}
	.btn-half-bg
	{
		width:59%;
	}
	.btn-half-sm
	{
		width:40%;
	}
	input.txtbox::-webkit-input-placeholder
	{
		color: white;
	}
