<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"

xmlns:gap   = "http://phonegap.com/ns/1.0"
id          = "com.webmaxinfotec.testapp"
version     = "1.0.0"
versionCode = "10" >

	<!-- versionCode is optional and Android only -->

	<preference name='phonegap-version' value='cli-5.1.1' />
	<gap:plugin name="org.apache.cordova.device-orientation" />
	<name>Test</name>
	<description></description>
	<author href="http://webmaxinfotech.com" email="merajgmemon@gmail.com">Meraj Ghaniwala</author>
	<origin access="*" />
	<icon src="images/SHORT-LIGHT.png" />
</widget>